.navbar-style{
background-color: rgb(247, 229, 232);
}

.navbar-title{
    font-family: 'Sigmar', cursive;
}

body{
    background-color: rgb(218, 199, 202);
}

.button-style{
    background-color: pink;
}

.nav-link{
    font-family: 'Castoro Titling', cursive;
}