@import "../base/variable";
@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";
@import "../base/listas";


body{
    background-color: ($rosa-principal);
    h1{
        font-family: 'Bruno Ace', cursive;
       color: rgb(101, 14, 29);
    }
    h2{
        font-family: 'Sigmar', cursive;
        color: rgb(187, 118, 251);
    }
    
    .button-style{
        background-color:$bg-general;
    }
}




