@import "../base/variable";
@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";
@import "../base/listas";

header {
    background-color: ($rosa-header);
    font-family: 'Sigmar', cursive;
 nav{
    border:1px solid darken ($rosa-principal,20%);
     ul{
             list-style-type: none;
         li{

             a{
                 text-decoration: none;
                 background-color: $rosa-principal;
                 font-family: 'Sigmar', cursive;
                 &:hover{
                    text-decoration: none;
                    transform: scale(1.2);
                    background-color: lighten ($rosa-header 20%);
                    
                 }
             }
         }
     }
 }
}