@import "./variable";
@import "./colores";
@import "./extends";
@import "./listas";

@mixin botones($padding, $border) {

    border:$border;
    padding:$padding;
    
}


@mixin parrafo($padding, $border) {
    border:$border;
    padding:$padding;
    
}

@mixin body($back-color) {
    background-color:$back-color;
    
}

.button-style{
background-color: nth ($colores,4);
    @include botones(20px, 2px solid pink);
}

.p-style{
    font-family: 'Castoro Titling', cursive;
    font-size: 20px;
   
}

body{
   
    @include body ($rosa-principal); 

    h1{
        font-family: 'Bruno Ace', cursive;
       color:nth($colores,7);
    }
    h2{
        font-family: 'Sigmar', cursive;
        color:nth($colores,8);
    }
    
}




